PORT=3000
NODE_ENV=development
API_PREFIX=/api/v1
APP_TIMEZONE=America/Mexico_City

DB_HOST=localhost
DB_PORT=3306
DB_NAME=linher_coresys
DB_USER=root
DB_PASS=
DB_CONNECTION_LIMIT=10

FRONTEND_URL=http://localhost:5173
FRONTEND_APP_URL=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
